code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}

.dark-mode {
  background-color: rgba(22, 20, 20, 0.938);
}

.dark-mode h1 {
  color: white;
  background-color: rgba(22, 20, 20, 0.938);
}

.dark-mode .header {
  background-color: rgba(22, 20, 20, 0.938);
}

.dark-mode .toggle {
  color: white;
}

.delete-icon {
  transition: all 0.2s ease-in-out;
}

.delete-icon:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.header {
  display: flex;
  border: none;
  margin-bottom: 5px;
box-shadow: none;
  /* justify-content: space-between; */
  /* flex-direction: row; */
  /* justify-content: flex-end;
  align-items: flex-end; */
}

.note.new {
  background-color: #67d7cc;
}

.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* below property preserves the spacing */
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: all 0.2s ease-in-out;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
  transform: scale(1.2);
}

.search {
  border-radius: 10px;
  background-color: lightgray;
  align-items: center;
  display: flex;
  padding: 10px;
  margin-bottom: 1em;
}

.search:hover {
  cursor: pointer;
}

.search input {
  background-color: lightgray;
  border: none;
}

.search input:focus {
  outline: none;
}

.toggle {
  border: none;
}
